---
interface Props {
  data: {
    title?: string | null;
    body?: unknown | null;
  };
}

const { data } = Astro.props;
import TinaMarkdown from '@tinacms/astro/TinaMarkdown.astro';
---

<div class="max-w-3xl mx-auto px-6 py-12">
  <h1 class="font-head text-3xl md:text-5xl leading-tight mb-6">
    {data.title}
  </h1>

  {data.body && (
    <div class="prose">
      <TinaMarkdown content={data.body} />
    </div>
  )}
</div>
